@import url("https://cdn.syncfusion.com/ej2/material.css");
* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans, Sans-Serif, "Sans Serif";
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgb(55, 69, 77);
}
html {
  font-size: 10px;
}
